@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
  font-family: 'Open Sans', Sans-Serif;
  background: #2c3e50;
}
.none{
  display: none;
}
.muncul{
  background-color: #7fdbea;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  color: white;
  border-radius: 10px;
  margin-top: 5px;
}

nav{
  position: relative;
  margin: 10px auto 0;
  height: 50px;
  background: #34495e;
  border-radius: 8px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
  display: block;
}
nav a{
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
  float: left;
}
nav .animation{
  position: absolute;
  height: 100%;
  /* height: 5px; */
  top: 0;
  /* bottom: 0; */
  z-index: 0;
  background: #1abc9c;
  border-radius: 8px;
  transition: all .5s ease 0s;
}
nav a:nth-child(1){
  width: 130px;
}
nav .start-home, a:nth-child(1):hover~.animation{
  width: 100px;
  left: 15px;
}
nav a:nth-child(2){
  width: 115px;
}
nav a:nth-child(2):hover~.animation{
  width: 90px;
  left: 142px;
}
nav a:nth-child(3){
  width: 120px;
}
nav a:nth-child(3):hover~.animation{
  width: 100px;
  left: 255px;
} 
.tombol{
  margin-top: 20px;
  background-color: #16bbe4;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

img{
  width: 4cm;
  height: 4cm;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  border: 1px solid #0000;
  position: relative;
}

.tombol:hover,
.tombol:focus {
  background-color: #F082AC;
}

@media only screen and (min-width: 768px){
  nav .animation{
    width: 100%;
    position: absolute;
  }
  nav a{
    display: block;
    float: right;
  }
  
nav a:nth-child(1){
  width: 130px;
}
nav .start-home, a:nth-child(1):hover~.animation{
  width: 100px;
  left: 849px;
}
nav a:nth-child(2){
  width: 115px;
}
nav a:nth-child(2):hover~.animation{
  width: 90px;
  left: 732px;
}
nav a:nth-child(3){
  width: 120px;
}
nav a:nth-child(3):hover~.animation{
  width: 100px;
  left: 609.5px;
}
#tentang muncul{
  display: flex;
}
}